PORT=3001

# Optional: register at https://opensky-network.org/login?view=registration
# to raise rate limit from 400 → 4,000 requests/day
OPENSKY_USERNAME=steve.gengler@gmail.com
OPENSKY_PASSWORD=Hazelg21!
OPENSKY_API_KEY=stevegengler-api-client
OPENSKY_API_SECRET=mrDibE5CaSzq71vplaSQCxrHh0nTJNjy
